/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../Img/background1.jpg);
  background-position: center;
}
:😒election {
  color: #fff;
  background-color: #7d2ae8;
}
h1{
  color: white;
}
.container {
  padding: 2rem 7rem;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #293447;
}
.result_images {
  display: flex;
  column-gap: 7rem;
}
.container.start .user_result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu_result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}
.result_images img {
  width: 100px;
}
.user_result img {
  transform: rotate(90deg);
}
.cpu_result img {
  transform: rotate(-90deg) rotateY(180deg);
}
.result {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 1.5rem;
}

.option_image img {
  width: 50px;
}
.option_images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.container.start .option_images {
  pointer-events: none;
}
.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.option_image:hover {
  opacity: 1;
}
.option_image.active {
  opacity: 1;
}
.option_image img {
  pointer-events: none;
}
.option_image p {
  color: white;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.score {
  font-size: 18px;
  font-weight: bold;
}

#user_score {
  color: white;
}

#cpu_score {
  color: white;
} 

i {
  height: 35px;
  width: 35px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #293447;
  padding: 10px;
  position: absolute;
  top: 5%;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
  border-radius: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}

.nav-links li a:hover {
  background-color: #088395;
  transition: 0.3s linear;
}

.logo {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #293447;
  padding: 20px;
  text-align: center;
  width: 43.5%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}

.footer-content p {
  color: white;
  width: 100%;
}